[Desktop Entry]
Name=Neovim
Exec=nvim %F
Terminal=true
MimeType=\
text/plain;\
text/x-log;\
text/x-readme;\
text/x-markdown;\
text/x-python;\
text/x-shellscript;\
text/x-sh;\
text/x-csrc;\
text/x-c++src;\
text/x-chdr;\
text/x-c++hdr;\
text/x-java;\
text/x-go;\
text/x-rustsrc;\
text/x-lua;\
text/x-perl;\
text/x-php;\
text/x-ruby;\
text/x-sql;\
text/x-tex;\
text/x-tcl;\
text/x-cmake;\
text/x-meson;\
text/x-yaml;\
text/x-json;\
text/x-xml;\
text/x-ini;\
text/x-properties;\
text/x-config;\
text/x-toml;\
text/x-nix;\
text/x-makefile;\
text/x-diff;\
text/x-patch;\
text/x-kotlin;\
text/x-scala;\
text/x-swift;\
text/x-haskell;\
text/x-ocaml;\
text/x-elisp;\
text/x-vim;\
text/x-dockerfile;\
text/x-env;\
text/x-crontab;\
application/json;\
application/x-yaml;\
application/xml;\
application/x-sh;\
application/x-shellscript;\
application/x-perl;\
application/x-php;\
application/x-ruby;\
application/x-lua;\
application/x-nix;\
application/x-sql;\
application/x-troff;\
application/x-patch;\
application/x-desktop;
Categories=Utility;TextEditor;
Keywords=neovim;vim;editor;code;text;nix;
